<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

    <head>
        <title>Login</title>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link rel="apple-touch-icon" sizes="76x76" th:href="@{/admin/assets/img/apple-icon.png}"/>
        <link rel="icon" type="image/png" th:href="@{/admin/assets/img/favicon.png}"/>
        <!--     Fonts and icons     -->
        <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700}" rel="stylesheet" />
        <!-- Nucleo Icons -->
        <link th:href="@{/admin/assets/css/nucleo-icons.css}" rel="stylesheet" />
        <link th:href="@{/admin/assets/css/nucleo-svg.css}" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <script th:href="@{https://kit.fontawesome.com/42d5adcbca.js}" crossorigin="anonymous"></script>
        <link th:href="@{/admin/assets/css/nucleo-svg.css}" rel="stylesheet" />
        <!-- CSS Files -->
        <link id="pagestyle" th:href="@{/admin/assets/css/argon-dashboard.css?v=2.0.4}" rel="stylesheet" />

    </head>

    <body>

        <main class="main-content  mt-0">
            <section>
                <div class="page-header min-vh-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                                <div class="card card-plain">
                                    <div class="card-header pb-0 text-start">
                                        <h4 class="font-weight-bolder">Sign In</h4>
                                        <div class="text-danger" th:if="${error}" th:text="${error}"></div>
                                            <div class="text-danger" th:if="${active}" th:text="${active}"></div>
                                            <div class="text-danger" th:if="${errorBooking}" th:text="${errorBooking}"></div>
                                            <div class="text-success" th:if="${user}"><p class="login-box-msg">You have successfully registered. Please login here!</p></div>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/login}" method="post" role="form">
                                            <div class="mb-3">
                                                <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email" aria-label="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                                            </div>
                                            <div class="mb-3">
                                                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password">
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Sign in</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                        <p class="mb-4 text-sm mx-auto">
                                            Don't have an account?
                                            <a th:href="@{/users/register-customer}" class="text-primary text-gradient font-weight-bold">Sign up</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                                <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');
                                     background-size: cover;">
                                    <span class="mask bg-gradient-primary opacity-6"></span>
                                    <h4 class="mt-5 text-white font-weight-bolder position-relative">"Attention is the new currency"</h4>
                                    <p class="text-white position-relative">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <script th:src="@{/admin/assets/js/core/popper.min.js}"></script>
        <script th:src="@{/admin/assets/js/core/bootstrap.min.js}"></script>
        <script th:src="@{/admin/assets/js/plugins/perfect-scrollbar.min.js}"></script>
        <script th:src="@{/admin/assets/js/plugins/smooth-scrollbar.min.js}"></script>
        <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
                var options = {
                    damping: '0.5'
                }
                Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }
        </script>
        <!-- Github buttons -->
        <script async defer th:src="@{https://buttons.github.io/buttons.js}"></script>
        <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
        <script th:src="@{/admin/assets/js/argon-dashboard.min.js?v=2.0.4}"></script>
    </body>
</html>
